<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="background-image: url(static/imgs/12.jpg); background-size:cover">
    <header class="header">
        <nav class="nav">
            <img src="static/imgs/tvss.png" alt="logo" class="logo">
            <ul class="nav_items">
                <li class="nav_item">
                    <a href="home.html" class="nav_link">Home</a>
                    <a href="#about" class="nav_link">About</a>
                    <a href="#classes" class="nav_link">Classes</a>
                    <a href="#contact" class="nav_link">Contact</a>
                </li>
            </ul>
            <div></div>
        </nav>
    </header>
    <section class="container1">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <form action="">
                <fieldset>
                    <legend>Your Class</legend>
                    <table>
                        <tr>
                            <td><label for="">User Name :</label></td>
                            <td><input type="text" placeholder="Your User Name" required></td>
                        </tr>
                        <tr>
                            <td><label for=""> Specialization:</label></td>
                            <td><input type="text" placeholder="Specialization" required></td>
                        </tr>
                        <tr>
                            <td><label for="">Number of students :</label></td>
                            <td><input type="number" required></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                    </table>
                    
                </fieldset> <br> <br>
                
            </form>
        </div>
        <a href=""><button class="btn">Create Class</button></a>
    </section>
</body>
</html>
