<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_class.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="background-image: url(/static/imgs/12.jpg); background-size:cover">
    <header class="header">
    </header>
    <section class="container1">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <form id="classForm">
                <fieldset>
                    <legend>Your Class</legend>
                    <table>
                        <tr>
                            <td><label for="">Class Name :</label></td>
                            <td><input type="text" id="name" required></td>
                        </tr>
                        <tr>
                            <td><label for=""> field:</label></td>
                            <td><input type="text" id="field" required></td>
                        </tr>
                        <tr>
                            <td><label for="">Maximum number of students :</label></td>
                            <td><input type="number" id="max_std" required></td>
                        </tr>
                    </table>
                    
                </fieldset> <br> <br>
                <button type="button" id="add_class">Create Class</button>
            </form>
            <script src="/static/call_apis.js"></script>
            <a href="{{ url_for('routes.prof_dash') }}"><button class="sgn">Back home</button></a>
        </div>

    </section>
</body>
</html>
