<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <img src="static/imgs/tvss.png" alt="logo" class="logo">
            <ul class="nav_items">
                <li class="nav_item">
                    <a href="#home" class="nav_link">Home</a>
                    <a href="#about" class="nav_link">About</a>
                    <a href="#classes" class="nav_link">Classes</a>
                    <a href="#contact" class="nav_link">Contact</a>
                </li>
            </ul>
            <button class="button" id="form-open">Login</button>
            <div id="menu-btn" class="bx bx-menu"></div>
        </nav>
        
    </header>
    
    <section class="home" id="home">
        <div class="from_container">
            <i class="uil uil-times form_close"></i>
            <div class="form login_form">
                <form action="#">
                    <h2>Login</h2>
                    <div class="input_box">
                        <input type="email" placeholder="Enter your email" required>
                        <i class="uil uil-envelope-alt email"></i>
                    </div>
                    <div class="input_box">
                        <input type="password" placeholder="Enter your password" required>
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>
    
                    <div class="option_field">
                        <span class="checkbox">
                            <input type="checkbox" id="check">
                            <label for="check">Remember me</label>
                        </span>
                        <a href="" class="forgot_pw">Forgot password ?</a>
                    </div>
                    <a href="{{ url_for('auth.login') }}"><button class="button">Login now</button></a>
                    <div class="login_signup">Don't have an account? <a href="{{ url_for('routes.signup') }}" id="Signup">Signup</a></div>
                </form>
            </div>
        </div>
        <div class="home-text">
            <h6>Best learning platform</h6>
            <h1>Educated Online From Your Home</h1>
            <p>If you get tired learn to rest not to quit </p>
            <div class="H">
                <form action="">
                    <input type="submit" value="Let's Start" required>
                </form>
            </div>
        </div>
        <div class="home-img">
            <img src="static/imgs/14.png" alt="">
        </div>
    </section>

    <section class="container">
        <div class="container-box">
            <div class="container-img">
                <img src="static/imgs/27.jpg" alt="" style="height: 50px; width: 50px;">
            </div>
            <div class="container-text">
                <h4>6K</h4>
                <p>Online Classes</p>
            </div>
        </div>
        <div class="container-box">
            <div class="container-img">
                <img src="static/imgs/22.jpg" alt="" style="height: 50px; width: 50px;">
            </div>
            <div class="container-text">
                <h4>6K</h4>
                <p>Online Classes</p>
            </div>
        </div>
        <div class="container-box">
            <div class="container-img">
                <img src="static/imgs/26.jpg" alt="" style="height: 60px; width: 60px;">
            </div>
            <div class="container-text">
                <h4>6K</h4>
                <p>Online Classes</p>
            </div>
        </div>
        <div class="container-box">
            <div class="container-img">
                <img src="static/imgs/23.jpg" alt="" style="height: 50px; width: 50px;">
            </div>
            <div class="container-text">
                <h4>6K</h4>
                <p>Online Classes</p>
            </div>
        </div>
    </section>
    <section class="categories" id="categories">
        <div class="center-text">
            <h5>CATEGORIES</h5>
            <h4>Popular Categories</h4>
        </div>

        <div class="categories-content">
            <div class="box">
                <img src="static/imgs/p.jfif" style="height: 50px; width:50px">
                <h3>Python Development</h3>
                <p>2 Classes</p>
            </div>
            <div class="box">
                <img src="static/imgs/angular.png" style="height: 50px; width:50px">
                <h3>Angular Development</h3>
                <p>3 Classes</p>
            </div>
            <div class="box">
                <img src="static/imgs/js.png" style="height: 50px; width:50px">
                <h3>JS Development</h3>
                <p>5 Classes</p>
            </div>
            <div class="box">
                <img src="static/imgs/mysql.png" style="height: 50px; width:50px">
                <h3>MySql Development</h3>
                <p>2 Classes</p>
            </div>
        </div>
        <div class="main-btn">
            <a href="#" class="btn2">All Categories</a>
        </div>
    </section>
    <section class="classes" id="classes">
        <div class="center-text">
            <h5>CLASSES</h5>
            <h4>Explore Popular Classes</h4>
        </div>
        <div class="classes-content">
            <div class="row">
                <img src="static/imgs/30.jpg" alt="" >
                <div class="classes-text">
                    <h5>5 persones</h5>
                    <h4>HTML CSS JS</h4>
                    <h6>02 hours</h6>
                    <div class="rating">
                        <div class="star">
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                        </div>
                        <div class="review">
                            <p>{7 review}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <img src="static/imgs/31.jpg" alt="">
                <div class="classes-text">
                    <h5>5 persones</h5>
                    <h4>Python</h4>
                    <h6>02 hours</h6>
                    <div class="rating">
                        <div class="star">
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                        </div>
                        <div class="review">
                            <p>{7 review}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <img src="static/imgs/32.jfif" alt="">
                <div class="classes-text">
                    <h5>5 persones</h5>
                    <h4>MySql</h4>
                    <h6>02 hours</h6>
                    <div class="rating">
                        <div class="star">
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                            <a href="#"><i class='bx bxs-star'></i></a>
                        </div>
                        <div class="review">
                            <p>{7 review}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-btn">
            <a href="#" class="btn2">Start Now</a>
        </div>
    </section>
    <section class="about" id="about">
        <div class="about-img">
            <img src="static/imgs/33.jfif" alt="">
        </div>
        <div class="about-text">
            <h2>Join Us a Mentor</h2>
            <p>Using innovative teaching and technology to allow quality learning
                Helping students and teachers connect, collaborate and learn through new online and face-to-face options.
                Enrol TVS. Our teaching model is based on the most extensive evidence-based research conducted into virtual learning in Tunisia. The school’s values are: Growth, Empathy, Respect and Collaboration.</p>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="main-contact">
            <div class="contact-content">
                <img src="static/imgs/tvss.png" alt="">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </div>
            <div class="contact-content">
                <li><a href="#home" class="nav_link">Home</a></li>
                <li><a href="#about" class="nav_link">About</a></li>
                <li><a href="#classes" class="nav_link">Classes</a></li>
                <li><a href="#contact" class="nav_link">Contact</a></li>
            </div>
            <div class="contact-content">
                <li><a href="#">Tunisia</a></li>
                <li><a href="#">tvs@exemple.com</a></li>
                <li><a href="#">123456789</a></li>
            </div>
        </div>
    </section>
    <div class="last-text">
        <p>@ 2024 Ghabi Abdessattar and Guesmi Asma. All rights reserved.</p>
    </div>

    <script src="static/script.js"></script>
</body>
</html>
