<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='new_style.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container2">
        <div class="col-lg-2 col-md-4 col-sm-6  dash ">
            <div><img src="static/imgs/tvss.png" alt="logo" class="logo"></div>
            <ul class="dashboard">
                <li><li><a href="{{ url_for('routes.stds') }}"><i class='bx bx-male-female'></i>  Students</li></a></li>
                <li><a href="formS.html"><i class='bx bx-cog' ></i>  Update</li></a>
                <li><a href=""><i class='bx bx-chat'></i> Chat</a></li>
                <li><a href="{{ url_for('auth.logout') }}"><i class='bx bx-log-out'></i>   Log out</a></li>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash-message">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
            </ul>
            <div class="button-container">
                <a href="{{ url_for('routes.create_class') }}">
                    <button class="middle-button">New Class</button>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 " style="background-image: url(static/imgs/education2.webp);background-size:cover">
            <div class="button-container">
                <a href="{{ url_for('routes.create_class') }}">
                    <button class="middle-button">New Class</button>
                </a>
            </div>
            <div class="categories-content">
                {% for cls in data %}
                    <div class="box">
                        <img src="{{ url_for('static', filename='imgs/' + cls.field + '.png') }}" alt="{{ cls.field }} logo">
                    <div class="box-content">
                        <h2>{{ cls.name }} </h2>
                        <h3>{{ cls.field }}</h3>
                        <h4>{{ cls.number_of_students }}/{{ cls.max_std }}</h4>
                        <h5>{{ cls.prof_name }}</h5>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="departement" style="background-image: url(static/imgs/education4.jpg);">
            <img src="static/imgs/36.jpg" alt="std" class="profile-photo"> <br> <br>
            <h2>{{ professor.fullname }}</h2>
            <h3>Expertise:</h3>
            {% for element in expertise %}
                <p>{{ element }}</p>
            <br>
            {% endfor %}
        </div>
    </section>

</body>
</html>
