<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="background-image: url(imgs/15.jpg); background-size:cover">
    <header class="header">
        <nav class="nav">
            <img src="imgs/tvss.png" alt="logo" class="logo">
            <ul class="nav_items">
                <li class="nav_item">
                    <a href="index.html" class="nav_link">Home</a>
                    <a href="#about" class="nav_link">About</a>
                    <a href="#classes" class="nav_link">Classes</a>
                    <a href="#contact" class="nav_link">Contact</a>
                </li>
            </ul>
            <div></div>
        </nav>
    </header>
    <section class="container1">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <form action="">
                <fieldset>
                    <legend>Your Cordinate</legend>
                    <table>
                        <tr>
                            <td><label for="">Full Name : </label></td>
                            <td><input type="text" placeholder="Your Full Name" required></td>
                        </tr>
                        <tr>
                            <td><label for="">User Name :</label></td>
                            <td><input type="text" placeholder="Your User Name" required></td>
                        </tr>
                        <tr>
                            <td><label for="">Mail :</label></td>
                            <td><input type="email" placeholder="Your mail" required></td>
                        </tr>
                        <tr>
                            <td><label for="">Create password :</label></td>
                            <td><input type="password" placeholder="password" required></td>
                        </tr>
                        <tr>
                            <td><label for="">Confirm password :</label></td>
                            <td><input type="password" placeholder="Confirm password" required></td>
                        </tr>
                    </table>
                    
                </fieldset> <br> <br>
                <fieldset>
                    <legend>About You</legend>
                    <table>
                        <tr>
                            <td> <label for="">Age:</label></td>
                            <td><input type="number" placeholder="Your Age" required></td>
                        </tr>
                        <tr>
                            <td><label for="">Highest School Level :</label></td>
                            <td><input type="text" placeholder="Your Highest School Level" required></td>
                        </tr>
                        <tr>
                            <td><label for="">Interested At :</label></td>
                            <td><input type="text" required></td>
                        </tr>
                        <tr>
                            <td><label for="">Field Of Studies :</label></td>
                            <td><input type="file" ></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
        <a href="dashpat.html"><button class="btn">Signup Now</button></a>
    </section>
</body>
</html>
