<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <img src="static/imgs/tvss.png" alt="logo" class="logo">
            <ul class="nav_items">
                <li class="nav_item">
                    <a href="index.html" class="nav_link">Home</a>
                    <a href="#about" class="nav_link">About</a>
                    <a href="#classes" class="nav_link">Classes</a>
                    <a href="#contact" class="nav_link">Contact</a>
                </li>
            </ul>
            <div></div>
        </nav>
    </header>
    <br> <br>
    <div class="classes-content">
        <div class="row">
            <img src="static/imgs/37.jpeg" alt="" >
            <div class="classes-text">
                <h5>Amin</h5>
                <h4>HTML </h4>
                <h6>msg@gmail.com</h6>
            </div>
        </div>
        <div class="row">
            <img src="static/imgs/37.jpeg" alt="">
            <div class="classes-text">
                <h5>Amin</h5>
                <h4>Python</h4>
                <h6>msg@gmail.com</h6>
                
            </div>
        </div>
        <div class="row">
            <img src="static/imgs/37.jpeg" alt="">
            <div class="classes-text">
                <h5>Amin</h5>
                <h4>MySql</h4>
                <h6>msg@gmail.com</h6>
            </div>
        </div>
    </div>
</body>
</html>
