<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVS</title>
    <link rel="stylesheet" href="new_style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background_frame">
        {% for std in students %}
            <div class="box">
                <img src="/static/imgs/34.jpg" alt="logo" class="prof_logo">
                <div class="box-data">
                    <p>{{ std.fullname }}</p>
                    <p>{{ std.age }}</p>
                    <p>{{ std.email }}</p>
                    <p>{{ std.highest_school_level }}</p>
                    <p>{{ std.field_of_studies }}</p>
                    <p>{{ std.interested_at }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
